<body>
<div>
<input type='text' [(ngModel)]='coronaMsg' />

<button
        (click)='sendMsg()'>
F ck me
</button>

<label> {{coronaMsg}}</label>
</div>


<hr>

<div>
  <input type='text' [(ngModel)]='inputMsg' />

  <button
    (click)='sendsecondMsg()'>
    Enter your name again and click me
  </button>

  <label> {{labelMsg}}</label>
</div>
</body>
